<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Início</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
</body>
<footer>
    <div class="mt-5 d-flex bd-highlight">
        <div class="p-2 flex-grow-1 nav-link">Desenvolvido por <a class="footer-padrao" href="https://github.com/rootzera">Ismael Benjamim</a></div>
        <div class="p-2 bd-highlight"><a class="nav-link" href="https://github.com/rootzera/crud-cliente/tree/update-frontend">Repositório Github</a></div>
        <div class="p-2 bd-highlight"><a class="nav-link" href="https://github.com/rootzera/crud-cliente/commits/update-frontend">Updates do projeto</a></div>
    </div>
</footer>
</html>